<html>
      <head>
          <title>{{site.title}}</title>
            <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      </head>
      <body>
             <div class="container">
             <div class="row">
{{ content }}
             </div>
      </div>
      </body>
</html>
